@page "/createcity"
@using WeatherStatistics.Shared

<PageTitle>Create city</PageTitle>

<h3>Добавление нового города</h3>

<input type="text" id="input_city" />
<button type="submit" class="btn btn-primary">Создать</button>


@code {
    //CityWStat NewCityWStat = new CityWStat();

    //void CreateNewCityStat() => Console.WriteLine("Create new city stat");
}
